function myIncludes(array,item) {
  if(array && array.length){
    return array.indexOf(item) > -1;
  }
  return false;
}
function descriptionLine(str) {
  console.log(str);
  return Math.ceil(str / 18) * 36 + 36;
}
function priceEveryMedicine(total,num) {
  return (total / num).toFixed(2);
}

module.exports = {
  myIncludes: myIncludes,
  descriptionLine: descriptionLine,
  priceEveryMedicine: priceEveryMedicine,
}